<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <!-- Footer - About us -->
            <h4><span> About Us</span></h4>
            <p>Webzone is a blogging site for web developers. Get inspired by reading blog post created by others or
                inspire someone by creating a post.</p>
        </div>
        <div class="col s12 m4 l4">
            <!-- Footer - Contact us -->
            <h4><span>Contact Us</span></h4>
            <p class="contact-info"><i class="fas fa-mobile-alt contact-info-icons"></i>+4531884865</p>
            <p class="contact-info"><i class="fas fa-envelope contact-info-icons"></i>webzone@contact.com</p>
            <p class="contact-info"><i class="fas fa-address-card"></i>Nygardterrraserne 253E 3520 Copenhagen</p>
        </div>
        <div class="col s12 m4 l4">
            <!-- Footer - Connect with us -->
            <h4><span>Connect With Us</span></h4>
            <ul>
                <li><a href="https://www.facebook.com/cypriot.man" target="_blank"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.linkedin.com/in/takafor-anutatu-7783b819b/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/Takaforyannick30" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/yannickvasilia/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
    <p class="copyright">TAKAFORYANNICK&copy;2020</p>
</div>