h1 {
    background-color: blue;
    margin-top: -10px;
}

.btn {
    margin: 5px;
}

.post_image img{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post_btn {
    display: flex;
    margin-left: 0;
}