/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 2rem;
}

.post-heading,
.modal-heading {
    font-family: 'Robato-slab', serif;
    

}

.btn {
    margin: 5px;
}

img{
    width: 100%;
    height: 100%;
}

.post_image img{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post_btn {
    display: flex;
    margin-left: 0;
}

.border {
    border: 1px solid black;
}