{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Post</h3>
    
    <div class="container">
    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <input id="post_title" name="post_title" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="post_title">Post Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="post_content" name="post_content" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="post_content">Post Content</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <input id="read_time" name="read_time" minlength="5" maxlength="20"
                        type="text" class="validate" required>
                    <label for="read_time">Read Time</label>
                </div>
            </div>
            
			
        </form>
    </div>
    </div>

{% endblock %}