{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Create Post</h3>
    
    <div class="row">
        <form class="col s12" method="POST" action="{{  url_for('create_post') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="post_title" name="post_title" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="post_title">Post Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="post_image" name="post_image"
                        type="text" class="validate" required>
                    <label for="post_image">Post Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="post_content" name="post_content" class="materialize-textarea validate" required></textarea>
                    <label for="post_content">Post Content</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <input id="read_time" name="read_time" minlength="5" maxlength="20"
                        type="text" class="validate" required>
                    <label for="read_time">Read Time</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue">
                        Create Post
                    </button>
                </div>
            </div>
			
        </form>
    </div>

{% endblock %}