{% extends "base.html" %}
{% block content %}
<div class="sign_up_page">
	
		<h3 class="center-align">SIGN UP</h3>

		<!-- Sign Up form -->
		<div class="row">
			<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
				<div class="card-panel">
					<!-- username field -->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-user prefix"></i>
							<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
							<label for="username">Username</label>
						</div>
					</div>
					<!-- password field-->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-key prefix"></i>
							<input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
							<label for="password">Password</label>
						</div>
					</div>
					<!-- register button -->
					<div class="row">
						<button type="submit" class="button sign_up_button light-blue darken-4">
                           <i class="fas fa-user-plus"></i> Sign Up
                        </button>
					</div>
					<!-- Redirect registered users to sign in page -->
					<div class="row">
						<div class="col s12">
							<div class="center-align">
								<p class="center-align">Already A Member?</p>
								<p class="center-align mute_text">Sign in to fully experience WEBZONE</p>
								<a href="{{ url_for('sign_in') }}" class="light-blue-text text-darken-4">Sign In</a>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
	
</div>

{% endblock %}