{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col l8 offset-l2">
		<div class="post_image"> <img class="responsive-img" src="{{post.post_image}}"> </div>
			<h2 class="post-heading"> {{post.post_title}}</h2>
			<p>by {{post.created_by}} - {{post.created_at}} </p>
			<p>Read Time: {{post.read_time}}</p>
			<p>{{post.post_content}}</p>
           <!-- Delete and Edit post buttons only viewable to logged in users -->
			<div class="col s3">
				{% if session.user|lower == post.created_by|lower %}
				<div class="post_btn">
					<button data-target="modal1" class="btn red modal-trigger">Delete</button>
					<a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn light-blue lighten-1">Edit</a>
				</div>
				{% endif %}
			</div>
		</div>

		<!-- Modal Structure -->
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4>Delete Post</h4>
				<p>Are you sure want to delete this post?</p>
			</div>
			<div class="modal-footer">
				<button  class="btn modal-close">Cancel</button>
				<a href="{{ url_for('delete_post', post_id=post._id) }}"
					class="btn red modal-close waves-effect waves-green btn-flat">Delete</a>
			</div>
		</div>
{% endblock %}